section{
    padding: 20px 0px;
   margin: 0px 45px;
    
}
section .container{
    display: flex;
    justify-content: space-between;
    

}
.box{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom:64px;

}
.card{
 align-items: center;
 display: flex;
 gap: 10px;

}
.card h4{
    width: 31px;
    height: 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
    color:#A9A9A9;
    cursor: pointer;
    transition: all 0.5s;

  

}
.card h4:hover{
  background-color: aqua;
  color: rgb(52, 52, 48);
}
.card h3{
    width: 7px;
    height: 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
    color:#151515;
    cursor: pointer;
    transition: all 0.5s;
    
}
.card h3:hover{
 color:#6A983C;


}
.card1 button{
 padding: 12px 38px 12px 16px;
border-radius: 12px;
border: none;
background-color: #6A983C;
color:#FFFFFF;
transition: all 1s;
cursor: pointer;
transform: rotate(360deg);

}
.card1 button:hover{
 background-color: aqua;
 color:black;

}
.card2{
    align-items: center;
    display: flex;
    gap: 4px;
    cursor: pointer;

}
.card2 h3{
    width: 36px;
    height: 18px;
    color:#6A983C;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    background-color:#F4F8EC;
    width: 20px;
    height: 18px;
   border-radius:2px;

}
.card2 h4{
    width: 41px;
    height: 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
    color:#A9A9A9
        

}



.urls{
 text-decoration: none;
 list-style: none;

}
.urls a{
  text-decoration: none;

}
.urls b{
    font-family: 'Open Sans';
    color: #111211;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s;
}
.urls b:hover{
 background-color:aqua;
 color:rgba(31, 31, 30, 0.951);

}
.urls a{
    color: #6dd057;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: left;   
    transition: all 0.5s; 
}
.urls a:hover{
    background-color:antiquewhite;
    color: #1c1c1a;
}
.urls li{
    margin-top: 15px;
}